.coupon-form
  padding: 2px 0

  &__btn
    display: inline-block
    cursor: pointer
    transition: transform .1s, color .1s
    border-bottom: 1px dashed #0093fe
    color: #0093fe

    @mixin soft-text-shadow 1, .1

    &:hover
      color: #0075c9
      transform: scale(1.1)
