.domain-ch
  width: auto
  
  &__option
    margin-top: 7px
    margin-bottom: 10px
    font-size: 16px
    font-weight: 600
  
    &__radio
      margin-left: 10px
      transition: transform .2s

    &:hover
      ^&__radio 
        transform: scale(1.1)

  &__box
    padding-right: 19px
    margin-right: 6px
    // margin-bottom: 10px
    border-right: 1px solid #eee