.domains
  &__row
    &__url
      font-size: 16px
      font-family: monospace, serif

      &__copy-btn
        display: inline-block
        margin-right: 10px
        font-size: 13px
        font-family: IRAN
        opacity: 0
        transition: opacity .2s

      &:hover
        & .domains
          &__row__url__copy-btn
            opacity: 1
