.flat-box
  width: auto
  padding: 10px 15px
  margin: 5px 0

  &--info
    background: color(var(--color-info) shade(1%) lightness(90%))
  
  &--dashed
    border: 2px dashed #ccc
    background: #fff