.kebab
  &--small-full-width
    @media (--small-viewport)
      width: 100% !important
      display: block !important
      padding-right: 0 !important
      padding-left: 0 !important

  &--medium-full-width
    @media (--medium-viewport)
      width: 100% !important
      display: block !important
      padding-right: 0 !important
      padding-left: 0 !important
