.no-item
  margin-top: 30px
  padding: 20px
  text-align: center
  border: 1px dashed #eee
  background: #fbfbfb

  &__image
    display: inline-block

  &__title
    font-size: 27px
    color: var(--color-perfect-blue)

  &__desc
    display: inline-block
    margin-top: 10px
    padding: 10px
    color: #666