.section-title
  width: 100%
  height: auto
  padding: 10px 0 5px 0
  margin: 25px 0 5px 0
  font-family: IRANSans
  letter-spacing: -.1px

  &__title
    font-size: 25px
    font-weight: 500
    margin: 0
    color: #555

    &:before
      margin-left: 10px
      color: var(--color-perfect-red)

  &__subtitle
    font-size: 16px
    font-weight: 100
    color: #888
    margin: 0 0 12px 0
